[2016-09-26 14:41] mrmlnc opened #1 "Support for formatOnSave after release 1.6.0"

[2016-09-26 14:42] mrmlnc opened #2 "Support settings from .remarkrc file"

[2016-09-30 22:24] mrmlnc opened #3 "Support for selections"

[2016-10-13 12:31] TimonVS opened #4 "Implement remark-lint"
Do you have plans to integrate [remark-lint](https://github.com/wooorm/remark-lint)?

If you need any help, I'd be glad to give a helping hand.

[2016-10-13 12:47] mrmlnc commented on #4
Hello, @TimonVS,

Yes, I'm going to make this plugin, but separately (because for linters I should use VS Code Language Server).

My personal queue of plugins that I'm going to create: https://github.com/mrmlnc/vscode-extensions-queue. Right now I'm working on autocompletion for Less.

[2016-10-13 12:49] TimonVS commented on #4
Cool! Let me know if I can help.

[2016-12-10 18:52] #1 closed

[2016-12-10 18:52] #3 closed

[2016-12-10 18:57] mrmlnc commented on #2
Test file, please 🐼

[2016-12-10 21:10] #2 closed

[2017-01-31 06:00] dphov opened #5 "[macOS] VSCode terminal throwing an error after choosing `remark: beautify markdown code`"
VSCode 1.8.1
macOS 10.12.2

[code]

DevConsole
[code]

[2017-01-31 07:15] mrmlnc commented on #5
Hello, @dphov,

You use plugins?

[2017-01-31 07:43] dphov commented on #5
Hello, @mrmlnc

Of course I have installed a bunch of plugins

[2017-01-31 10:30] mrmlnc commented on #5
You can provide a list of plugins?

Most likely this is related to https://github.com/mrmlnc/vscode-remark#about-error-handling. Try to disable each plugin and run `remark: beautify markdown code`.

[2017-01-31 10:32] dphov commented on #5
Alan.MochaSnippets
CoenraadS.bracket-pair-colorizer
DavidAnson.vscode-markdownlint
DotJoshJohnson.xml
EditorConfig.EditorConfig
HookyQR.JSDocTagComplete
IBM.output-colorizer
LaurentTreguier.vscode-simple-icons
NoHomey.theme-realgithub
Orta.vscode-ios-common-files
Orta.vscode-jest
Orta.vscode-react-native-storybooks
Perkovec.require-sort
SirTori.indenticator
TimonVS.ReactSnippetsStandard
TomiTurtia

[2017-01-31 10:35] mrmlnc commented on #5
Sorry, but I mean Remark plugins (e.g. https://github.com/wooorm/remark/blob/master/doc/plugins.md).

[2017-02-06 07:40] mrmlnc commented on #5
/ping to @dphov

[2017-02-09 09:37] dphov commented on #5
Problem solved by installing new version of VSCode 1.9.1

[2017-02-09 09:37] #5 closed

[2017-02-09 10:03] mrmlnc commented on #5
Thanks for report 💪

[2017-02-20 08:12] Rokt33r opened #6 "Markdown Preview window, rendered by remark-html"
VS code supports markdown preview. Is it possible to replace the renderer of the preview with Remark html?

[2017-02-20 08:16] mrmlnc commented on #6
Hello, @Rokt33r,

IMO, no, because i don't see any API for try to update renderer of the preview. We can create your custom Markdown preview, but your will lose more features (from current implementation of Markdown preview).

[2017-02-20 08:35] Rokt33r commented on #6
Okay, I'll consider to make a new preview plugin. Losing some features(auto scrolling?) is quite minor problem for me.
Thanks for the fast reply. 😃 😃 😃

[2017-02-20 08:35] #6 closed

[2017-02-20 09:12] mrmlnc commented on #6
If you have free time, you can send PR ❤️

[2017-02-20 09:22] Rokt33r commented on #6
I'll do gladly. 👍

[2017-03-14 17:39] toyorg opened #7 "Cannot read property 'length' of undefined"
Using VSCode 1.10.2 I'm getting this error.

[2017-03-14 17:42] mrmlnc commented on #7
Do you use plugins?

[2017-03-14 17:47] toyorg commented on #7
Yes, but I disabled all of them and nothing changed.

[2017-03-14 17:50] mrmlnc commented on #7
You can provide your `remark` settings? Most likely your issue related to https://github.com/mrmlnc/vscode-remark#about-error-handling.

[2017-03-14 17:59] toyorg commented on #7
With this or without still the same.
[code]

[2017-03-14 18:23] mrmlnc commented on #7
Thank you for the clarification. Looks like a bug. I'll work on it very soon.

Last question: If you specify this config:

[code]

The error continues to appear?

[2017-03-14 19:58] toyorg commented on #7
Well, it's weird.

https://gfycat.com/HonestUntidyAgama

[2017-03-14 22:34] toyorg commented on #7
I think there is a problem:
`return vscode.workspace.findFiles('**/*remarkrc', '**/node_modules/**').then((files) => {`

[2017-03-14 23:11] toyorg commented on #7
There is fix for that bug #8

[2017-03-15 07:49] #7 closed

[2017-03-15 07:53] mrmlnc commented on #7
Should be fixed in `1.1.0`.

[2017-05-10 01:38] dsifford opened #9 "Don't convert html entities"
Hi there,

Great plugin! One little gripe I've had with it is that it currently converts (most) html entities to the actual character when it runs into them. Is there any way to avoid this? If not, could this potentially be added?

Thanks in advance!

[2017-05-10 01:39] dsifford commented on #9
Ok nevermind... This totally already exists I think. Just ran into the "entities" option in the `rules` property of the config...

Disregard! 😄

[2017-05-10 01:39] #9 closed

[2018-05-07 09:36] dialex opened #11 "THANKS"
Just to tell you this extension is awesome and save me a lot of time. Cheers!

[2018-05-07 09:36] #11 closed

[2018-06-03 15:55] wooorm commented on #4
@remarkjs you mean? 😉

How can I help?

[2018-07-05 19:31] rbdixon opened #12 "Prevent entity encoding of Pandoc-style footnotes"
When I write markdown documents which use Pandoc style [longnotes](http://pandoc.org/MANUAL.html#footnotes) the colon is encoded. Example:

[code]

encoded:

[code]

I've attempted to disable this by setting:

[code]

This does not help. Any advice on how to prevent encoding at this location?

Thanks,

Brad

[2018-07-06 12:45] rbdixon commented on #12
Solution: Set `footnotes: true` in the `remark.format.rules` stanza.

From: https://github.com/remarkjs/remark/issues/339

[2018-07-06 12:45] #12 closed

[2018-07-11 19:38] albscui opened #13 "How to not indent bullets by so many spaces"
Hi, after running remark, there are 3 spaces after list markers. Is it possible to set it to just 1?

[2018-07-11 21:30] albscui commented on #13
Solved thanks!

[2018-07-11 21:31] #13 closed

[2018-07-11 21:31] wooorm commented on #13
Could you post the answer you found?

[2018-07-12 05:56] mrmlnc commented on #4
Hi,

Unfortunately, now I don't have time to write new plugins and have a little time to support old ones. If you can do it on your own, then I am ready to help you in any way.

[2019-05-30 13:13] stcbus opened #15 "listItemIndent value of "1" is still replaced by tabs."
Hello, I read the documentation and have set the remark.format rules `listItemIndent` option to "1" in my settings.json. When I tell VSCode to do the remark formatting, it is still adding the 3 spaces instead. My other options (like setext: true) are correctly followed.

Relevant portion:

[code]

[2019-12-10 17:33] Stanzilla commented on #15
Same here, any advice @mrmlnc?

[2020-01-16 13:30] Stanzilla opened #16 "Error in Output"
Getting these errors in the output in VSCode:

[code]

My config file looks like this:

[code]

[2020-01-19 11:28] mrmlnc commented on #16
Most likely this is artifact after #14.

//cc @tengattack if you're interested

[2020-01-19 12:13] tengattack commented on #16
Could you try to remove the last two plugins:

[code]

And try again? See whether the errors have gone

[2020-01-19 12:16] tengattack commented on #16
BTW, you should remove the `remark-` prefix in plugins:

MY config works fine:
[code]

[2020-01-19 12:17] tengattack commented on #16
The code add `remark-` prefix now:

![image](https://user-images.githubusercontent.com/1846356/72680782-bd45f380-3af8-11ea-9c10-987b2cf99f62.png)

[2020-01-19 13:12] Stanzilla commented on #16
That sounds like something that should be in the documentation though

[2020-01-19 13:15] tengattack commented on #16
Yes. It only works in limited scenarios now.

I will update the README later.

[2020-01-19 13:39] Stanzilla commented on #16
Okay and for frontmatter?

[code]

Still gives me the "Headings should use atx" warning even though it should not anymore

[2020-01-19 13:56] tengattack commented on #16
Could you remove the first "frontmatter" plugin, only keep `["frontmatter", {type: 'custom', marker: '!'}]` and try again?

[2020-01-19 13:58] Stanzilla commented on #16
That gives the same message here

[2020-01-19 14:00] tengattack commented on #16
What about using remark-cli, run `remark` in console directly? Is there same errors?

[2020-01-19 14:02] Stanzilla commented on #16
Nope, remark-cli gets it right!

[2020-01-19 14:11] tengattack commented on #16
Sorry, it will be a bug,

According to code:
https://github.com/mrmlnc/vscode-remark/pull/14/files#diff-45327f86d4438556066de133327f4ca2R86

We will get the object options to undefined instead of the proper one, I will fix it later.

[2020-01-19 14:11] Stanzilla commented on #16
Wait, I ran into a different issue again. I need to reload the window every time I update the config file for it to be used by the vs code extension. Something I previously reported here https://github.com/drewbourne/vscode-remark-lint/issues/2

After reloading the window and just using `["frontmatter", { type: 'custom', marker: '-' }]` i still get `4:1-5:4: Headings should use atx`

[2020-01-19 14:13] mrmlnc commented on #4
Already covered by https://github.com/drewbourne/vscode-remark-lint.

[2020-01-19 14:13] #4 closed

[2020-01-19 14:14] tengattack commented on #16
Currently, Yes, you will need to reload window every time after config updated.

[2020-01-19 14:15] tengattack commented on #16
I will dig into it later, it seems the settings didn't pass to the plugin.

[2020-01-19 14:17] Stanzilla commented on #16
That maybe should also be in the readme since it's really not intuitive. What's the reasoning for it? And if it's required maybe add a notification or button to reload when the config changes?

[2020-01-19 14:18] tengattack commented on #16
Could you try to add the settings `{"frontmatter": {"type": "custom", "maker": "-"}}` to remark settings in vscode settings like the README shows

[2020-01-19 14:24] Stanzilla commented on #16
Added
[code]

to my VSCode config, reloaded and now it works :)

[2020-01-19 14:24] tengattack commented on #16
![image](https://user-images.githubusercontent.com/1846356/72682665-7d880780-3b0a-11ea-9cd9-3f416b6dbbe8.png)

add to "remark.format" like:

[code]

[2020-03-26 08:48] anthony0030 opened #17 "Feature Request: Fix Errors On Save"
Is there a way to add a ```format on save``` function?

[2020-03-29 10:09] Stanzilla commented on #16
@tengattack any news here? 😃

[2020-06-12 12:22] asbjornu opened #18 "TypeError: Cannot create property 'rules' on string 'SyntaxError'"
[This Liquid-Markdown file](https://gist.github.com/asbjornu/271859dad5f9e95d3400216743035f5f/raw/1d52980013621d8332c7020542cdf192b66dc6ea/problematic-liquid-markdown.md) causes `vscode-remark` to crash with the following error message when I try to format the file in VS Code:

It would be good to know where the syntax error occurs so it could be fixed in the document. Even better would be for `vs

[2020-06-12 12:26] asbjornu commented on #18
Even just selecting the following list in [the same Markdown document](https://gist.github.com/asbjornu/271859dad5f9e95d3400216743035f5f/raw/1d52980013621d8332c7020542cdf192b66dc6ea/problematic-liquid-markdown.md) and doing "Format Selection" leads to the same error:

[code]

[2020-06-26 04:38] sagebind commented on #15
Found the problem, `listItemIndent` is indeed respected, but when you use IntelliSense to create the setting it adds an extra space at the end of the JSON key, making Remark not recognize it.

I created #19 to fix that. In the meantime, just delete the extra space in your config.

[2020-06-26 21:09] asbjornu commented on #18
I may have figured out what's going on here. Creating a `.remarkrc.yml` file seems to consistently produce this error. Might it be the case that `vscode-remark` tries to parse `.remarkrc.yml` as JSON?

[2020-06-26 21:15] asbjornu commented on #18
Yep, seems like `'**/*remarkrc*'` is always parsed as JSON:

https://github.com/mrmlnc/vscode-remark/blob/fad8495e238ad2d3f312733ca09049761862f960/src/extension.ts#L61-L67

Since `SyntaxError` is returned here instead of actually throwing an error, `SyntaxError` is treated as valid config by whichever method is calling `getWorkspaceConfig` which is pretty poor form. I see a lot of `} catch (err) {

[2020-07-01 07:53] #15 closed

[2020-07-01 08:02] mrmlnc opened #22 "Maintainers wanted"
Hello, friends,

Sadly, I don't have a lot of time to support this plugin (and some others). Although I wish it development. Reply to this issue if you find yourself interested in owning this plugin.

I will transfer the repository and publishing rights to VS Code store (I don't know how to do it yet, [click](https://github.com/microsoft/vscode/issues/21478)).

[2020-07-01 08:04] mrmlnc commented on #22
Maybe you want to think it over...

//cc @asbjornu @tengattack

[2020-07-01 08:41] asbjornu commented on #22
Sad, but understandable. I think we should approach [remarkjs](https://github.com/remarkjs/) and have the repository transferred to them. Do you want me to initiate that dialogue?

[2020-07-01 08:44] mrmlnc commented on #22
Yeap, if you have a desire :)

[2020-07-01 13:57] asbjornu commented on #22
Done: remarkjs/remark#508.

[2020-07-01 15:02] asbjornu commented on #22
My request has been answered (see https://github.com/remarkjs/remark/issues/508#issuecomment-652450604) and we are asked to follow [these guidelines](https://github.com/unifiedjs/collective/blob/main/organizations.md#motion-to-grant-governance). Can you please follow through with the things you need to do there, @mrmlnc?

[2020-09-01 06:28] #18 closed

[2020-09-01 08:15] asbjornu commented on #16
@Stanzilla, if you run the following commands in the root folder of your project, what's the output in your console?

[code]

[2020-09-01 12:16] Stanzilla commented on #16
That works but it's been a while since I had this problem, I haven't used remark since then.

[2020-09-02 08:56] asbjornu commented on #22
@wooorm, can you please give me admin access so we can have this closed? 😃 🙏

[2020-09-02 09:13] wooorm commented on #22
Is there anything important you can’t do to the repo with your current write/merge rights? For security reasons, we want to have a small group with admin access.

[2020-09-02 10:07] asbjornu commented on #22
I would like to adjust the branch protection, configure Dependabot, configure merged branch deletion, etc.

[2020-09-07 10:41] wooorm commented on #22
@asbjornu That sounds like something that can be done once. Can I do that for you?

[2020-09-07 10:58] asbjornu commented on #22
Sorry for being blunt, but I reckon it's better to be honest and frank about this than not. I don't think I'm going to be enjoying maintaining this repository without administrative access. I did not anticipate having to ask someone else for permission to increase the quality of this project when I volunteered to maintain it.

Let's take branch protection as an example. I'd like to set it up to re

[2020-09-07 13:37] wooorm commented on #22
Whether projects make sense to be maintained in the unified collective is described in the document you’ve seen before. [At the top of our organizations policy](https://github.com/unifiedjs/collective/blob/main/organizations.md#projects).

That’s a misrepresentation of what this is about. It’s security, stability, longevity, community.

The rest of your comment is also a misrepresentation of what

[2020-09-07 13:57] asbjornu commented on #22
I'm sorry for mistakenly thinking that being the maintainer of an open source project meant I could administer it.

Does making me comfortable as a maintainer of this repository go against security, stability, longevity or community? If your policies deter people like me from coming onboard and putting work in to maintain repositories, doesn't that achieve precisely the opposite of what your polic

[2020-09-07 14:27] wooorm commented on #22
I hope that whether you can upload a social image directly, or raise an issue and have someone else do it, has no impact on whether your day is comfortable or not. But indeed, policies are not (**only**) created for maintainers to be comfortable.

This is also true for the other members of the remark organization and the rest of the unified collective.

It is, your experience is valued.

I would s

[2020-09-07 14:58] asbjornu commented on #22
I don't plan to spend days **thinking** about branch protection, but instead of just clicking "Settings" in this repository and adjust them directly, I now have to go over to another repository, look at the UI, write down procedures for how I want it configured and possibly take screenshots. That takes time I don't have to allot at the moment.

[2020-09-07 15:28] ChristianMurphy commented on #22
I've worked with Codacy and other similar tools before, they're a thin wrapper around ESLint.
ESLint is usually a better starting point because it can be run locally and on CI, as well as supporting more validations than other tooling.
Codacy can be added for a nice visual, but adding it first is putting the cart before the horse.

@asbjornu chill.
unified/remark already does code reviews and ensu

[2020-09-07 16:17] ChristianMurphy commented on #22
@asbjornu to help alleviate your concern.
the main branch is now protected.
It requires:
* 1 code review before merging
* the linux build to pass before merging
* the branch to up-to-date before merging
* commits to be signed

If you have other requests or concerns, feel free to open another issue (since this is off topic from "Maintainers wanted).
Or if it's something you see having broader adopt

[2020-09-08 08:29] #22 closed

[2020-09-08 08:36] asbjornu opened #27 "Set up Dependabot"
### Subject of the feature

It would be great to have [Dependabot](https://dependabot.com/) set up to ensure that all dependencies are up to date.

[2020-09-08 08:37] asbjornu commented on #27
Think you can look into this, @ChristianMurphy? 🙏

[2020-09-08 08:43] asbjornu opened #28 "Create Remark organization on Azure DevOps"
### Subject of the feature

As suggested in https://github.com/remarkjs/remark/issues/508#issuecomment-660086559 we need a `remark` organization in Azure DevOps under which we can publish new versions of this extension. [Here's a recipe for the entire publishing process](https://code.visualstudio.com/api/working-with-extensions/publishing-extension).

As soon as the personal access token and every

[2020-09-08 08:44] asbjornu commented on #28
@ChristianMurphy, can you please assist with this? 🙏

[2020-09-08 09:07] wooorm commented on #27
@asbjornu Can you clarify why you want to add dependabot?

[2020-09-08 09:10] asbjornu commented on #27
@woorm:

[2020-09-08 09:13] wooorm commented on #28
This project seems to average about 1 release per year (5 releases since 2016). I’m generally a fan of cutting releases by hand. What benefits do you see by automating releases?

[2020-09-08 09:36] asbjornu commented on #28
Regardless of the automation, we need an organization, which by the lack of access to this repository and the remark organization I can't.

Regarding the automation, I can't think of a good reason to not publish on every `git tag` preformed in the repository. How often that has happened in the past is not indicative of how often it's going to happen in the future, with a new maintainer. Also, if t

[2020-09-08 09:52] asbjornu opened #29 "Set up Codecov"
### Subject of the feature

Create a token for [Codecov](https://codecov.io/) so we can have code coverage reporting in the project and add it as a GitHub secret so code coverage reports can be submitted.

### Problem

We currently have no overview of the code coverage of the tests in the project.

### Expected behavior

I expect to know approximately how well tested a codebase is. I don't need a

[2020-09-08 13:30] ChristianMurphy commented on #27
There are some options here, dependabot is one.
Another, used by [several](https://github.com/mdx-js/mdx) [unified](https://github.com/remarkjs/grunt-remark) [projects](https://github.com/mdx-js/eslint-mdx) already, is [renovate bot](https://github.com/renovatebot/renovate) ([docs](https://docs.renovatebot.com/)).
Renovate offers more configuration than [dependabot](https://dependabot.com/) or [gr

[2020-09-08 13:39] ChristianMurphy commented on #29
There are a few coverage platforms, codecov is already used on [unified](https://codecov.io/github/unifiedjs/unified). It could be used here as well.
Write access to the repo is all that's needed, it can be setup with any of the major CI's, here are the instructions for use with GitHub actions https://github.com/marketplace/actions/codecov

[2020-09-08 13:43] asbjornu commented on #29
Ah, the part about only needing tokens for private repos was new to me. I'll go right ahead and implement then. Thanks, @ChristianMurphy.

[2020-09-08 13:56] asbjornu commented on #27
I've never used Renovate before and it looks more involved to get up and running than Dependabot, so I would appreciate if someone who has experience with it could set it up. 🙏  As long as dependencies are kept up to date by automatic pull requests, I'm not fuzzy where the pull requests come from.

[2020-09-08 14:26] ChristianMurphy commented on #28
/cc @jounqin from https://github.com/mdx-js/vscode-mdx
I notice the mdx vscode plugin is running off the JounQin namespace https://marketplace.visualstudio.com/items?itemName=JounQin.vscode-mdx
Is it easier to run off a personal namespace, or would there be value in creating an organization?

[2020-09-08 14:58] wooorm commented on #28
@ChristianMurphy See also the previous discussion about downsides of personal namespaces: https://github.com/remarkjs/remark/issues/508#issuecomment-653866681

[2020-09-08 15:03] asbjornu commented on #28
[Creating an organization](https://docs.microsoft.com/en-us/azure/devops/organizations/accounts/create-organization?view=azure-devops) is simple enough and makes the published extensions independent of one single person, reducing the [bus factor](https://en.wikipedia.org/wiki/Bus_factor). If you have several projects underneath the Remark umbrella published on the Visual Studio Marketplace, I thin

[2020-09-08 16:00] wooorm commented on #29
@asbjornu Can you clarify your experience regarding the notion that 100% is bad? I strongly feel that classifying 100% as unhealthy is woefully incorrect.

[2020-09-08 20:41] asbjornu commented on #29
I'm not categorically saying that 100% code coverage is always bad, but I have seen quite a bit of projects where the unit tests has had to know so much about the internal workings of the application in order to reach ~100% that refactoring the codebase was pretty much impossible.

If the code base that is being tested exports a public interface, **that** should have 100% test coverage. But the pr

[2020-10-07 23:06] ahaasler opened #31 "Publish the extension to OpenVSX"
Hi, I'm a [VSCodium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code. It's the same code but without Microsoft's telemetry, branding and licensing.

I would like to request, if possible, to add the Remark for VSCode extension to the [open-vsx.org](https://open-vsx.org/) market as it is unclear if it's legal to use the official Microsoft extension marketplace on VS Code forks

[2020-11-14 07:26] ouuan commented on #17
Isn't it `editor.formatOnSave`? Do you want a specific setting for this formatter?

[2020-11-16 09:56] anthony0030 commented on #17
I have that setting on. The only way I can get it to format is with the command palet in vscode.

[2020-11-21 14:30] ouuan commented on #17
You may need this in your settings.json:

[code]

[2020-11-23 09:26] anthony0030 commented on #17
It shows the errors when I save but won't autocorrect on save. I can run the command in VScode pallet and it works.

[2020-11-23 14:44] ouuan commented on #17
That's the problem: it shows the error instead of correcting them. So I think what we need is not a setting to format on save, but fixing this problem, which not only enables format on save, but also enables other formatting features of VS Code, like the shortcut, format on paste, etc.

[2020-11-24 11:02] anthony0030 commented on #17
How would I do this?

[2020-11-24 14:37] ouuan commented on #17
I'm also a normal user. I'm just suggesting you modify your feature request.

[2020-11-26 14:45] asbjornu commented on #28
@ChristianMurphy, @wooorm, is it anything I can do to assist in the creation of a RemarkJS organization?

[2020-11-26 14:48] asbjornu commented on #31
As soon as we have auto-publishing to the VS Marketplace in order, we'd love a PR that adds auto-publish to any other marketplace.

[2020-11-29 19:38] #27 closed

[2020-11-29 19:39] ChristianMurphy commented on #29
@asbjornu have you had a chance to take a look at setting this up?

[2020-11-30 00:10] asbjornu commented on #29
@ChristianMurphy, I did some work on it back in September, but looking at the commits now I remember vaguely running into some trouble hooking Codecov up in the test runner. I can't remember the specifics at the moment.

[2021-03-15 01:52] madmath03 commented on #31
This would also be great for integration with [Gitpod](https://gitpod.io/)

[2021-03-15 10:46] asbjornu commented on #28
@ChristianMurphy @wooorm Ping?

[2021-03-15 11:47] JounQin commented on #28
+1 for official organization personally

[2021-03-15 17:11] wooorm commented on #28
Sorry, @asbjornu, thanks for the ping!

@asbjornu @JounQin As we’re talking `vscode-remark` and `vscode-mdx`, which fall under different organisations, does **unified** (or **unifiedjs**) or so sound good?

[2021-03-15 17:26] JounQin commented on #28
@wooorm I'm in favor of `unifiedjs` which is also the GitHub organization name.

[2021-03-16 09:39] asbjornu commented on #28
Sounds good to me!

[2021-03-16 10:31] wooorm commented on #28
cool cool! @asbjornu, I believe you volunteered to set it up, right? I’d appreciate that. Otherwise I can try my hands at it!

[2021-03-16 11:24] asbjornu commented on #28
Sure, I've now created the [Unified.js publisher on the VS Marketplace](https://marketplace.visualstudio.com/publishers/unifiedjs). Let me know your Microsoft Account e-mails so I can add you to it. I'll close this issue and will create a new one for publishing to the VS Marketplace.

[2021-03-16 11:24] #28 closed

[2021-03-16 11:26] asbjornu opened #38 "Publish extension to the VS Marketplace"
### Subject of the feature

Now that we have a [Unified.js publisher](https://marketplace.visualstudio.com/publishers/unifiedjs) (see #28), we can start [publishing the extension on the VS Marketplace](https://code.visualstudio.com/api/working-with-extensions/publishing-extension). The publishing should be made automatic, preferably every time a release is published.

[2021-03-16 11:43] asbjornu opened #39 "Rename master to main"
### Subject of the feature

As seems to become the standard everywhere, it's good to follow suit and rename `master` to `main`.

### Problem

[The rationale to rename `master` to `main` is explained well here](https://github.com/github/renaming).

[2021-03-16 15:05] wooorm commented on #28
Thanks @asbjornu. I’m using my gmail listed here: https://github.com/wooorm.
Also, @ChristianMurphy, @JounQin?

[2021-03-16 15:06] wooorm commented on #39
yep, we’re all for it (most of our repos are changed already).

Want me to do it here? GHs new features should update everything nicely. Or is there something you want to merge/do first?

[2021-03-16 15:06] ChristianMurphy commented on #28
My email is listed here: https://github.com/ChristianMurphy

[2021-03-16 15:12] asbjornu commented on #28
Sorry, neither of those addresses seem to work. Are they registered Microsoft Accounts?

<img width="192" alt="Invalid domain" src="https://user-images.githubusercontent.com/12283/111332689-4a8bc600-8672-11eb-82ff-8eae86e65c4e.png">

<img width="238" alt="Invalid domain" src="https://user-images.githubusercontent.com/12283/111332654-43fd4e80-8672-11eb-93fd-343b84434629.png">

[2021-03-16 15:13] JounQin commented on #28
@asbjornu https://github.com/JounQin

[2021-03-16 15:16] asbjornu commented on #28
Seems like [there's a bug](https://stackoverflow.com/questions/56032912/vs-marketplace-add-member-displayes-invalid-domain-error). I'll see whether I can circumvent it somehow.

[2021-03-16 15:23] JounQin commented on #28
Maybe you can try liujiaren1992#outlook.com

[2021-03-16 15:26] asbjornu commented on #28
Sorry, that didn't work either.

<img width="199" alt="Invalid doman" src="https://user-images.githubusercontent.com/12283/111334681-10232880-8674-11eb-8e7f-d10ead807c36.png">

This is a bug and the only way around seems to be to send Microsoft the ID of your Microsoft Accounts. To retrieve your Microsoft Account ID please do the following:

1. Login to the [Marketplace](https://marketplace.visual

[2021-03-16 15:27] asbjornu commented on #39
Yes please! 😃

[2021-03-16 15:28] wooorm commented on #28
LOL

[2021-03-16 15:29] wooorm commented on #39
Done!

[2021-03-16 15:29] #39 closed

[2021-03-16 15:38] JounQin commented on #28
@asbjornu Please help to delete the image at https://github.com/remarkjs/vscode-remark/issues/28#issuecomment-800361034 like https://github.com/remarkjs/vscode-remark/issues/28#issuecomment-800349709

[2021-03-16 15:43] ChristianMurphy commented on #28
`f39e7fd2-43fe-45dc-8eb7-9eed90da28db`

[2021-03-16 15:58] JounQin commented on #28
@ChristianMurphy The email text is not been removed at https://github.com/remarkjs/vscode-remark/issues/28#issuecomment-800361034 😂

[2021-03-17 01:17] asbjornu opened #41 "Bundle the extension"
### Subject of the feature

According to Microsoft's best practices, [VS Code extensions should be bundled](https://code.visualstudio.com/api/working-with-extensions/bundling-extension).

### Problem

When executing `vsce package` now, the following is written to the console:

The large amount of JavaScript files being packaged is due to the entire `node_modules` directory being added to the `.vsi

[2021-03-17 08:52] wooorm commented on #41
esbuild can do this: make a bundle for node. And it’s really fast. Otherwise, https://github.com/vercel/ncc is a webpack wrapper I believe?

[2021-03-17 10:35] asbjornu commented on #41
Sounds good, @wooorm! I'm not familiar with any bundler at all 😅.

[2021-03-21 15:09] #38 closed

[2021-03-21 15:23] asbjornu opened #43 "Update website URL"
Now that version 1.3.0 is out the door with a new name, we need to change the URL to the extension marketplace to:

https://marketplace.visualstudio.com/items?itemName=unifiedjs.vscode-remark

[2021-03-21 15:32] asbjornu opened #44 "Unpublish mrmlnc.vscode-remark"
### Subject of the feature

Now that the extension is published under the name [unifiedjs.vscode-remark](https://marketplace.visualstudio.com/items?itemName=unifiedjs.vscode-remark) we should [unpublish](https://docs.microsoft.com/en-us/azure/devops/extend/publish/overview?view=azure-devops#unpublish-an-extension) [mrmlnc.vscode-remark](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vs

[2021-03-21 15:33] asbjornu commented on #31
Now that #40 is merged and version 1.3.0 is out the door, we happily accept pull requests integrating this into the `publish.yml` GitHub Actions workflow.

[2021-03-21 15:36] asbjornu commented on #16
Please try version 1.3.0 of [unifiedjs.vscode-remark](https://marketplace.visualstudio.com/items?itemName=unifiedjs.vscode-remark) (notice the rename). If that does not fix this problem, please reopen the issue.

[2021-03-21 15:36] #16 closed

[2021-03-21 15:42] asbjornu opened #45 "Add Release Drafter"
### Subject of the feature

With [Release Drafter](https://github.com/release-drafter/release-drafter), creating GitHub releases becomes mostly automatic.

### Problem

It requires quite a bit of manual labour to create release notes. Release Drafter automates most of this labour, making the creation of new releases much easier.

### Expected behavior

The creation of releases should not be a tire

[2021-03-21 15:52] asbjornu opened #46 "Automatically merge dependency updates"
### Subject of the feature

With the tests we now have I feel fairly confident about having dependency updates by Renovate automatically merged if the tests are successful. I don't know Renovate, but if it doesn't have this feature, we can use [Mergify](https://mergify.io/) to both review and merge pull requests from Renovate.

### Problem

It requires quite a bit of manual labour to go through pu

[2021-03-21 16:09] wooorm commented on #44
Icon should change, it doesn’t match the rest of the unified “branding”. What should we go with?

And, assuming Denis is getting a lot of notifications from this repo, might be good to ping them again in a couple days.

[2021-03-21 16:12] wooorm commented on #45
No strong opinions here, but I’m a fan of manually releasing + writing release notes 🤷‍♂️

[2021-03-21 16:15] asbjornu commented on #45
I agree the release publishing should be manual, but the labour of adding issue numbers, author names, titles, etc., to a draft release is something that could and should be automated, imho.

[2021-03-21 16:16] wooorm commented on #46
There are a lot of renovate PRs out currently, but I don‘t think that’s the normal state of things.
What you describe in problem, I don’t think should be automated: dependencies often conflict. Without a rebase in between, stuff will go unnoticed.
I also believe dependency updates should be either done manually or manually reviewed. You can’t trust npm.

Doesn’t GH make automerging pretty swift?:

[2021-03-21 16:21] asbjornu commented on #46
That's not my experience with most JavaScript- and Typescript-based projects. Updates happen frequently enough and the work involved is tedious and boring enough that it should be automated, imho.

Rebasing is already taken care of by Renovate, so I don't see the problem? Merging of stale PRs is impossible by the branch protection.

I see the trust issue. That's a valid argument. However, I must a

[2021-03-21 16:22] wooorm commented on #45
I add issue, pr, and commit references, plus author / reviewer names, etc, to commits. Example: https://github.com/wooorm/xdm/commit/f9c3108bc86590b6f2ee20a5d93bc27107a8455d.
Because I squash, that leaves the commit log as essentially a changelog: I edit a little bit: remove a couple things, add some more where needed. And done! That labor has to be done somewhere, and this is pretty and useful: h

[2021-03-21 16:23] asbjornu commented on #44
I give a new icon 👍🏼. Do you have ideas for how it should look or should I throw up a sketch?

Indeed.

[2021-03-21 16:27] asbjornu commented on #45
Yes, conventional commits are nice when enforced. I just don't have the time nor energy to enforce them and thus Release Drafter is an easy way out.

[2021-03-21 16:30] wooorm commented on #46
This project has 3 dependencies, which are all stable: https://github.com/remarkjs/vscode-remark/blob/7ea2957e1c4368e78bcf4749154db60dba73672b/package.json#L241-L243. That at most 3 PRs a year.
For the dev-dependencies, I think PRs for those are churn. I bet renovate can be configured to batch those up with big delays.

This was in reply to your Problem statement, where you explained that it’s cum

[2021-03-21 16:33] asbjornu commented on #46
Ok, then I hope I'll receive help in review going forward. The PRs from Renovate I just went through were many months old.

[2021-03-21 16:33] #46 closed

[2021-03-21 17:13] ChristianMurphy commented on #43
Assuming you mean the one in the about section on GitHub, done!
Let me know if there's another that needs to change

[2021-03-21 17:13] #43 closed

[2021-03-21 17:18] ChristianMurphy commented on #45
That's what CommitLint is for :slightly_smiling_face: (https://commitlint.js.org)

An example integration with GitHub action: https://github.com/uPortal-Project/uPortal-web-components/blob/1dfd1788a9f935e274b026e69ad95266bbcf24b2/.github/workflows/CI.yml#L39-L40

[2021-03-21 18:31] madmath03 commented on #31
Based on this [documentation](https://github.com/HaaLeo/publish-vscode-extension#readme), it seems that this call to npm vsce:
https://github.com/remarkjs/vscode-remark/blob/abd4a0e5cb793f61079004f4059149c7ec16e2a4/.github/workflows/publish.yml#L39-L40

could be replaced by this GitHub Action:
[code]

[2021-03-21 20:21] asbjornu commented on #31
Ok, looks good. How do we obtain an `OPEN_VSX_TOKEN`, @madmath03?

[2021-03-21 22:54] madmath03 commented on #31
@asbjornu apparently you need to create an Eclipse account then login to OpenVSX and create an access token.

I've just read the docs my self and never actually tried this before so I wouldn't be much help on the implementation.
See [documentation](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions#1-create-an-access-token) for more details.

[2021-03-22 11:17] #29 closed

[2021-03-22 18:32] asbjornu commented on #31
Thanks, @madmath03. I went as far as to [claiming ownership of the namespace](https://github.com/eclipse/openvsx/wiki/Namespace-Access#how-to-claim-a-namespace) and there it stops. As I'm only a mere contributor to this repository and it's not underneath the `unifiedjs`, but `remarkjs` organization, I doubt they will accept my claim to ownership of the `unifiedjs` namespace. Can you please go ahea

[2021-03-23 11:08] wooorm commented on #31
@asbjornu You did raise such an issue? I don‘t see it. I’ll open one, or am I missing something?

[2021-03-23 11:52] asbjornu commented on #31
@wooorm, no I didn't since I don't see any point in my trying to convince anyone that I represent @unifiedjs in any way as I'm not a member of that or the @remarkjs organization and don't even have admin rights to this very repository. 🤷🏼

[2021-03-23 15:08] wooorm commented on #31
Sure, I was asking for clarification: “I went as far as to claiming ownership of the namespace and there it stops” seemed to contradict the rest of your statement

[2021-03-24 10:05] wooorm commented on #44
@asbjornu any reason to not use the [remark logo](https://avatars.githubusercontent.com/u/16309564?s=1200&u=5d88e91c5c201e6144e4564c4f4aa865dc46130c&v=4) (or [banner](https://github.com/remarkjs/remark/blob/main/logo.svg))?

[2021-03-24 10:08] asbjornu commented on #44
No reason, that should be fine. We might want to have the words "VS Code" in there, perhaps? Also, why is the font different in the logo and banner and which fonts are used?

[2021-03-24 10:27] wooorm commented on #44
I don’t see those words appearing in any of the other logos (e.g., https://marketplace.visualstudio.com/search?target=VSCode&category=Other&sortBy=Installs). And they might even not allow it (similar to how you can’t use GH logos or name either).
Reason for different font weight is that logos are often displayed tiny. And monospace there might take more space than needed. But that might be worth r

[2021-03-24 10:58] asbjornu commented on #44
Good points wrt. the use of "VS Code". Personally, I like the monospace used in the banner best. Which font is it?

[2021-03-24 13:10] asbjornu commented on #45
I'm sorry, but I'm frustrated by the combination of the following factors:

1. Being expected to maintain this repository.
2. Not being an administrator of this repository, thus not able to adjust branch protection, add secrets, etc. according to my preference.
3. Your continued insistence on this repository being maintained according to **your preference**.
4. Your
n
78610
If you want this reposi

[2021-03-24 13:12] asbjornu commented on #45
Sorry, the last comment was posted in error. I'll have a look @ChristianMurphy.

[2021-03-25 10:29] wooorm commented on #31
OK, should all be set up. Last step is to [publish](https://github.com/eclipse/openvsx/wiki/Publishing-Extensions#5-package-and-upload):

[code]

Where `<file>` is a `.vsix` file (that I’m assuming we’re already generating?) and `<token>` is our repository secret `OPEN_VSX_TOKEN` that I’ve set up!

[2021-03-25 17:55] #31 closed

[2021-03-25 18:02] asbjornu commented on #45
With #50 merged, I thought this would be a good time to create a new release and with all the merges now being squashed, the job of creating the release notes has become even more tiresome, as the Git log no longer contains the merge messages with the PR number.

I don't want the release notes to only enumerate what's new, I want a reference to the PR that implemented the change and who implemente

[2021-04-11 18:09] wooorm commented on #45
@asbjorn I think it's ok if you don't want to cut releases. Let me know when you want me to do so, and how I can do that with your current set up of the repo

[2021-04-11 18:10] wooorm commented on #44
Friendly ping @mrmlnc!

[2021-04-12 00:07] asbjornu commented on #45
It's not that I don't want to cut releases period, I just don't have the time to cut them as things are now without any help from tooling such as Release Drafter. If you can agree to give it a try, I'll happily create releases going forward.

[2021-05-13 20:41] nick-shm opened #58 "Update setting schema"
There are some issues with the setting schema in `packages.json`:

- The name `ruleSpace` should be `ruleSpaces`.
- Some default values, such as the ones for `ruleSpaces` and `strong`, differ from [Remark's documentation](https://github.com/syntax-tree/mdast-util-to-markdown#formatting-options).
- For some settings, such as `emphasis`, `enum` does not list all possible options.

I didn't check all

[2021-08-04 17:02] vanyauhalin opened #61 "Local config isn't loading"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-10-18 17:10] renovate[bot] opened #64 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [Update gittools/actions action to v0.9.13](../pull/90)
 - [ ] [Update actions/cache action to v3](../pull/91)
 - [

[2021-12-15 13:46] remcohaszing opened #66 "Rename vscode-remark to remark"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-12-15 14:44] ChristianMurphy commented on #66
:thinking: looking at how other plugins are named.

Several similar/related plugins seem to use the vscode prefix:
* https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint
* https://marketplace.visualstudio.com/items?itemName=stylelint.vscode-stylelint
* https://marketplace.visualstudio.com/items?itemName=JounQin.vscode-mdx
* https://marketplace.visualstudio.com/items?itemName=

[2021-12-16 11:24] remcohaszing commented on #66
I figured out 34 of my installed extensions use the `vscode-` prefix, and 45 don’t. Both camps include popular as well as unpopular plugins, even from Microsoft. IMO that’s pretty much even.

I still think it’s prettier to remove the prefix, but it’s not a big deal.

[2021-12-16 11:36] remcohaszing opened #67 "Verify Unified.js as a publisher"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2021-12-16 12:03] Murderlon commented on #66
I don't have a strong opinion on it but I'm not sure how many users are affected if we unpublish the current plugin just for a name change.

[2021-12-16 18:32] wooorm commented on #66
:+1: on murderlon’s point: changing would introduce churn, which i’d weigh heavier than the “slightly prettier”?

Btw, I believe one of these VSCode-related projects (maybe this one?) has to get a new name to be published under unified, because vscode can’t grant published artefacts to new folks?

[2021-12-17 14:19] Murderlon commented on #66
There are already two, [one from mrmlnc](https://marketplace.visualstudio.com/items?itemName=mrmlnc.vscode-remark), and [one from us](https://marketplace.visualstudio.com/items?itemName=unifiedjs.vscode-remark).

[2021-12-17 14:43] remcohaszing commented on #66
The one published by unifiedjs isn’t that popular though (327 installs). Probably because it just doesn’t work with the unifiedjs ecosystem moving towards ESM and VSCode not being able to handle it.

There are also [stefanprobst.remark-lint](https://marketplace.visualstudio.com/items?itemName=stefanprobst.remark-lint) and [drewbourne.vscode-remark-lint](https://marketplace.visualstudio.com/items?i

[2021-12-19 18:04] wooorm commented on #66
/cc @stefanprobst @drewbourne

[2021-12-21 09:52] wooorm commented on #66
The plan was to deprecate `mrmlnc`s one in favor of our new package: https://github.com/remarkjs/vscode-remark/issues/44#issuecomment-817348588.

[2021-12-21 10:08] wooorm commented on #67
Should probably do the same with github, right:
https://docs.github.com/en/organizations/managing-organization-settings/verifying-or-approving-a-domain-for-your-organization

[2021-12-21 13:33] wooorm commented on #67
Well, I did manage to verify the orgs on GH.
The VSCode marketplace is now awaiting manual reviewing. So I guess that’s somewhere early next year? 🤷‍♂️

[2021-12-24 13:08] remcohaszing commented on #66
Since this is really minor and I’m sensing more pushback than support for this, I’ll close this issue.

[2021-12-24 13:08] #66 closed

[2021-12-30 10:51] wooorm commented on #67
I’m going to close this because there’s nothing else to do here, and I’m assuming it’ll just “magically” start working when they get to it 🤷‍♂️

[2021-12-30 10:51] #67 closed

[2022-01-03 10:35] remcohaszing commented on #67
![image](https://user-images.githubusercontent.com/779047/147921220-d8883151-00aa-4541-a921-62d6a575199a.png)

I see a nice checkmark :smile:

[2022-01-03 21:09] wooorm commented on #67
sweeeet!

[2022-01-06 11:47] remcohaszing commented on #66
@drewbourne

#65 introduces feature parity with your extension and more (including loading of ESM configurations :smile: ). I suggest you unpublish `drewbourne.vscode-remark-lint` after those changes have been published. However, until then I think your extension is the best option out there for people willing to use older (CJS) versions of remark plugins. So I recommend to wait for that.

[2022-01-08 10:59] wooorm commented on #66
It was firstly a friendly ping to share some info!

But I think so. As Remco comments, this updated package is *much improved* and does what your extension does (and much more).
I’m not sure what the best way is to deprecate a package and suggest an alternative though.
Perhaps publish an empty package with just a readme pointing to this project?

[2022-01-13 11:24] wooorm opened #86 "Add support for previewing markdown"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-01-14 10:40] wooorm commented on #86
Linking https://twitter.com/remcohaszing/status/1481699749409480704 /cc @remcohaszing

[2022-01-14 11:02] remcohaszing commented on #86
I imagine this to be based on https://github.com/unifiedjs/unified-engine/issues/56.

The same override functionality can be used, but instead of using a `files` override, a context override can be defined. The language server could then handle a command to process a file based on a context, i.e. a hardcoded `preview` context or a configurable setting, or maybe a command parameter? I’m not entirel

[2022-01-14 11:54] wooorm commented on #86
Maybe? It’s interesting but it feels a bit like a) abusing the format, b) too much work for most folks (they’d have to set up a bunch of things), c) more powerful than needed (it’s a whole browser where anything could happen).

- I’m not sure switching between formats should be solved at the dotfile level
- we could load both `.remarkrc`s and `.rehyperc`s to the same effect
- do things like `rehyp

[2022-01-14 14:43] voxpelli commented on #86
Some inspirational links:

* https://github.com/mjbvz/vscode-github-markdown-preview
* https://github.com/mjbvz/vscode-markdown-mermaid
* https://github.com/mjbvz/vscode-fenced-code-block-grammar-injection-example

[2022-07-13 20:45] #17 closed

[2022-07-13 20:45] #41 closed

[2022-07-13 20:45] #58 closed

[2022-07-13 20:45] #61 closed

[2022-07-14 15:54] remcohaszing opened #102 "Disable packages for this project"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-07-14 16:36] wooorm commented on #102
sure

[2022-07-15 11:19] cm226 opened #107 "Vfile API incomplete"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-07-15 11:29] wooorm commented on #107
Inspecting fields on a file does not present them, because they are getters and setters.
What you see (or rather, don’t) hence is not a problem.

There were a lot of issues with this project. This project has been rewritten, but that has not been released yet. There are still a couple of small things missing.

The rewrite, and the next release will almost certainly fix your problem.

[2022-07-15 12:15] cm226 commented on #107
Thanks for getting back, whatever the reason accessing dirname property returns undefined in the object passed as the VFile in the currently version of the plugin, so if there is a getter defined its returning undefined.

Good to know that you guys are re-writing, Ill close this issue given that and try again when you guys release the re-write thanks.

[2022-07-15 12:15] #107 closed

[2022-07-15 12:18] wooorm commented on #107
Yes, the errors means that the file does not have a path at all. I believe we’ve fixed that here

[2022-07-15 15:28] remcohaszing commented on #64
Do we want to keep using renovate? It’s not used in the rest of the unified ecosystem and seems a bit pointless since we no longer have a lockfile and only dev dependencies. I can remove `renovate.json`, but not sure if an integration would need to be disabled.

[2022-07-15 17:58] remcohaszing commented on #45
I suggest to the following release process:

- Keep manual GitHub releases as most of the unified ecosystem.
- Use a GitHub action to release to both [Open VSX](https://open-vsx.org) and the [VS Code Marketplace](https://marketplace.visualstudio.com), which aligns with https://github.com/mdx-js/vscode-mdx/pull/207.

[2022-07-15 18:10] remcohaszing commented on #44
VS Code now supports deprecation. Extension deprecations can be requested via https://github.com/microsoft/vscode-discussions/discussions/1.

[2022-07-15 18:12] remcohaszing commented on #64
Probably should have closed this issue with #108.

[2022-07-15 18:12] #64 closed

[2022-07-15 18:18] wooorm commented on #44
Let’s first get this release out proper, then ping mrminc to do this!

[2022-07-15 18:19] remcohaszing commented on #44
I agree. That’s a much nicer way to do it.

[2022-07-15 22:40] JounQin commented on #45
The GitHub release is auto created on tag pushed by Changesets Action

https://github.com/mdx-js/vscode-mdx/blob/master/.github/workflows/release.yml

https://github.com/mdx-js/vscode-mdx/blob/master/.github/workflows/version.yml

We only need to focus on changesets.

[2022-07-18 21:11] asbjornu commented on #45
The difficult and boring task is to create the changelog that goes into the releases, not creating the release itself. Release Drafter can be used to automatically aggregate all pull requests that are merged into a changelog, so the changelog doesn't have to be punched in manually.

[2022-07-18 21:24] JounQin commented on #45
changesets changelog can be added with help its not comment or cli, and the content is always editable before release, instead of depends on commit message only.

PR related links like author and original author are referenced automatically instead.

Changesets is a great tool to me personally, although adding changeset needs some verbose action, but it's very scalable.

[2022-07-18 21:27] asbjornu commented on #45
The content Release Drafter creates is also editable. What it does is that whenever a pull request is merged, if a drafted release does not exists, it is created. The release is created in draft state so it is not published or available publicly. While pull requests are being merged, the draft release is updated with new content, adding to the changelog. All automatically. Once the release is read

[2022-07-18 21:41] JounQin commented on #45
Seems it's also sweet, I'll give it a try in my projects later, thanks for points.

[2022-07-20 17:00] wooorm commented on #45
Closing, agreeing with [Remco above](https://github.com/remarkjs/vscode-remark/issues/45#issuecomment-1185774200).
I quite disagree that writing changelog entries are difficult and boring. I am rather proficient at creating them from Git history, and do not find the work tedious.

---

GH does that. And our commit messages include that info.

Using commit history also allows for this.

[2022-07-20 17:00] #45 closed

[2022-07-20 17:05] wooorm commented on #102
Deleted it. The PR where it came from was https://github.com/remarkjs/vscode-remark/pull/70.

[2022-07-20 17:05] #102 closed

[2022-07-21 08:23] asbjornu commented on #45
Ok, you do releases then. I’m out.

[2022-07-23 11:51] wooorm commented on #86
Slightly different, but leaving it here to not forget: https://github.com/microsoft/vscode/tree/main/extensions/markdown-language-features/server#server-capabilities

[2022-07-23 13:25] remcohaszing commented on #102
The package has been removed, but could you also disable packages for the repo? IMO it always looks silly when GitHub shows the packages section when there are no packages. (Please fix this, GitHub :see_no_evil:)

[2022-07-23 13:52] wooorm commented on #102
Is there an option for that?

[2022-07-23 14:36] remcohaszing commented on #102
There’s a checkbox for it in the same dialog where you change the GitHub project description.

[2022-07-23 14:56] wooorm commented on #102
Ohh you mean that one, yeah sure!
I thought you meant the “Packages” tab next to repositories, discussions, teams, etc: https://github.com/remarkjs

[2022-07-23 14:57] remcohaszing commented on #102
I also wish GitHub would remove that! But nothing we can do about it.

[2022-07-23 15:45] wooorm commented on #44
Hi @mrmlnc! Hope you’re good :) Can you request deprecation of your package, in favor of our package, here: https://github.com/microsoft/vscode-discussions/discussions/1?

[2022-07-26 01:45] trickypr opened #113 "Remark will replace the contents of a markdown file with undefined if remark is not installed"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-07-26 08:45] wooorm commented on #113
That is a bug indeed.
However:

You shouldn’t do that though.

My guess is that the processor is cached (the module was loaded in the past so it’s still in the module cache). I can’t imagine why it would start returning empty files though?

This is intentional for this project ([see readme](https://github.com/remarkjs/vscode-remark#when-should-i-use-this)).
It is intended that you use this in comb

[2022-07-26 11:57] trickypr commented on #113
I should be more clear that this happens before first install. In my case, Codacy was complaining that my markdown formatting was wrong and I got the vscode extension as a quick fix, without installing the lsp. I don't think that I have installed remark or the extension before, so I don't think it would be caching.

I have updated the reproduction steps to be more clear.

By `undefined`, I don't m

[2022-07-26 17:17] wooorm commented on #113
Ahhh okay, that makes more sense, thanks.

---

/cc @remcohaszing

[2022-07-26 17:26] remcohaszing commented on #113
I noticed a situation where the file contents are replaced with `undefined` myself. This should never happen, it’s worse than errors. I will investigate.

[2022-07-30 12:30] remcohaszing commented on #113
Theis was fixed in https://github.com/unifiedjs/unified-language-server/pull/51 and released in version [2.1.0](https://github.com/remarkjs/vscode-remark/releases/tag/2.1.0).

[2022-07-30 12:30] #113 closed

[2022-08-10 16:13] wooorm opened #117 "`private: true` in `package.json`"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-08-10 16:17] JounQin commented on #117
It is indeed enabled at [`vscode-mdx`](https://github.com/mdx-js/vscode-mdx/blob/master/package.json#L48).

[2022-08-10 16:23] #117 closed

[2022-08-15 10:06] remcohaszing opened #121 "Use no-code VSCode integration"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-08-15 16:38] wooorm commented on #121
@remarkjs/contributors The call to action here is: Please upvote this issue https://github.com/microsoft/vscode/issues/158076 (assuming you think it is a good idea 😉). Thanks!

[2022-08-23 18:53] wooorm commented on #121
@remarkjs/contributors Friendly ping 🛎. Only 4 :+1: are missing!

[2022-08-23 22:53] JounQin commented on #121
I just asked my colleagues for help.

[2022-10-04 20:25] qyurila opened #123 "remark config is ignored when formatting"
### Initial checklist

- [X] I read the [support docs](https://github.com/remarkjs/.github/blob/main/support.md)
- [X] I read the [contributing guide](https://github.com/remarkjs/.github/blob/main/contributing.md)
- [X] I agree to follow the [code of conduct](https://github.com/remarkjs/.github/blob/main/code-of-conduct.md)
- [X] I searched [issues](https://github.com/search?q=user%3Aremarkjs&type

[2022-10-05 06:05] qyurila commented on #123
I found that it's `remark-cli` what ignores config when making output. Perhaps I was overlooking something. Sorry for bothering.

[2022-10-05 06:47] qyurila commented on #123
Extra infomations I found (might wrong) for any future wonderers:

`remark-lint` has no auto-fix feature (currently): see remarkjs/remark-lint#82.

`--out` option of `remark` makes output file(s) based on `remarkConfig.settings` (which determines `remark-stringify`'s behaviour) only, not on any `remark-lint` presets and rules.

So, if you want to auto-format your `.md` files with this extension (o

[2022-10-05 07:36] wooorm commented on #123
Yep, the lint rules are different from the formatting package. I believe there are issues open on improving this!